.men{
	width: 525px;
	height: 350px;
	margin: 0 auto;
	background-size: contain;
	background-repeat: no-repeat; z-index: 10;
}
.game{
	width: 40%; text-align: center;
	padding: 40px 10px;
	margin: 0 auto;
	z-index: 10; position: relative;
}
button{
	width: 100px; z-index: 10;
}
input{
	border: 2px grey solid;
	font-size: 30px;
	width: 250px;
	display: inline-block; z-index: 10;
}
body{
	text-align: center;
	background-color: #39E639;  
	color: #39E639;  
}
img{
	height: 600px;
	width: 1000px;
	position: relative;
	bottom: 300px;
	z-index: 0;
}
